@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Koulen', cursive;
}

.input-box {
  text-indent: 2rem;
  font-size: 1.4rem;
  padding: 4px;
  font-family:  FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

img {
  width: 240px;
  height: 330px
}

.movie--list {
  display: flex;
  /* gap: 25px; */
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

p {
  font-size: .8rem;
  max-width: 230px;
}